.box{
    display: flex;
    padding: 10px;
}
body {
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png");
    background-repeat: repeat;
    background-size: cover;
  }